<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="fw-bold">@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #563d7c;">
            <div class="container-fluid">

                <a class="navbar-brand" asp-area="" style="color:white" asp-controller="Home" asp-action="Index">
                    <img alt="United logo link to homepage" style="width:50px; height:30px;" src="~/image/flyingtogether.png" role="presentation" aria-hidden="true">
                    <span style="margin-left: -10px;font-size: 14px;">| Rule Editor</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @* <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                </ul>
                </div>*@
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="clear"></div>

    <footer class="border-top footer text-muted">
        <div class="row" style="margin:0px;">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <span>Copyright &copy 2023 Flying Together, Inc. All rights reserved.</span>
            </div>
            <div class="col-sm-3">
                <span class="float-sm-end">Developed By: <a style="color:dodgerblue;text-decoration: none;" href="#">Flying Together.</a>  </span>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
